<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>appender

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.hibernate.SQL" level="OFF" />
    <logger name="org.hibernate.type.descriptor.sql" level="OFF" />

</configuration>
